{% extends "FMConanBundle:Default:view.html.twig" %}

{% block content %}
  <div>
    <ul class="">
      <li><a href="#blaat" class="btn btn-info">Blaat</a></li>
    </ul>
  </div>

  {{ parent() }}
{% endblock %}
